*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body{
  background-color: rgb(250, 240, 226);
}


.App {
  text-align: center;
}

.nav{
  width: 100%;
  height:75px;
  position: fixed;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 15px 10px -15px rgb(36, 36, 36);
  display: flex;
  flex-direction: row;
  
}

.navlinks {
  margin-top: 25px;
  margin-left: 5%;
  color: black;
 
}

.nav a{
  text-decoration: none;
  width: 10%;
  height:20px;
  margin-left: 10%;
}

.nav a:hover {
  color: rgb(2, 196, 245);
}

.nav img {
  height:75px;
  width:5%;
  margin-left: 2%;
}

.cabecalho{
  position: relative;
  width:100%;
  height:600px;
  background-image:url(./images/headerimage.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.conteudo {
  height:800px;
  width:95%;
  background-color: rgb(255, 255, 255);
  margin: auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
 
  

}

.itemsHeader1 {
  margin-top: -200px;
  width: 60%;
  height:100px;
  
  align-content: center;
}

.destinos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: -450px;
 
}


.destinos img{
  width: 25%;
  height:200px;
  border-radius: 20px;
}

.galeria {
  margin: auto;
  width: 95%;
  height:700px;
  background-color: rgb(0, 162, 255);
}

