*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body{
  background-color: rgb(250, 240, 226);
  
  
}


.App {
  text-align: center;
  
}

.nav{
  position:fixed;
  width: 100%;
  height:10vh ;
  position: fixed;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 15px 10px -15px rgb(36, 36, 36);
  display: flex;
  flex-direction: row;
  font-size: 15px;
  z-index: 1;
  
}

.navlinks {
  margin-top: 25px;
  margin-left: 5%;
  color: black;
 
}

.nav a{
  text-decoration: none;
  width: 10%;
  height:13vh;
  margin-left: 10%;
}

.nav a:hover {
  color: rgb(2, 196, 245);
}

.nav img {
  height:10vh;
  width:5%;
  margin-left: 5%;
}

.cabecalho{
  
  width:100%;
  height:70vh;
  background-image:url(./images/headerimage.jpg);
  background-size: cover;
}


.conteudo {
  
  height:95vh;
  width:100%;
  background-color: rgb(255, 255, 255);
  margin: auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
 
  

}

.itemsHeader1 {
  
  width: 60%;
  height:9vh;
  padding-top: 2vh;
  
  align-content: center;
}

.destinos {
  width: 90%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
  margin-left: 1%;
  
  
  
 
}

.conteiner {
  width: 20%;
  height:70vh;
  box-shadow: 0 0 5px;
  border-radius: 20px;
  background-image: url(./images/fundotrip.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
 
}

.conteiner a {
  text-decoration: none;
  color: #000000;
}

.conteiner h3 {
  margin-top: 4px;
  
}

.pacotes {
  width:100%;
  height:30vh;
  border-radius: 20px 20px 0px 0px;
}

.icon{
  width: 15%;
  height: 6vh;

}

.infovalor {
  margin-top: 15vh;
}

.vermais {
  width: 9%;
  height: 5vh;
}

.vermais a {
  text-decoration: none;
}

.vermais a:hover {
  color: rgb(0, 162, 255);
}

.galeria{
  position: relative;
  height:500px;
  width: 100%;
  background-color: rgb(255, 255, 255);

}

.content{
  
  height:90%;
  width: 935px;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  top:45%;
  left:50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px;

}

.content img{
  height:100%;
  width:100%;
  object-fit: cover;
}

.navigation{
  position: absolute;
  bottom:15px;
  left:50%;
  transform: translate(-50%);
  display: flex;

}

.bar{
  width: 70px;
  height:17px;
  border: 2px solid #fff;
  margin: 6px;
  border-radius: 10px;
  cursor: pointer;
  transition: .4s;

}

.bar:hover{
  background-color: #fff;
}

.input{
  display: none;
}

.slides{
  display: flex;
  width: 600%;
  height:100%;
}

.slide{
  width: 20%;
  transition: .6s;

}

#slide1:checked ~ .s1{
  margin-left: 0;
}

#slide2:checked ~ .s1 {
  margin-left: -20%;

}

#slide3:checked ~ .s1{
  margin-left: -40%;
}

#slide4:checked ~ .s1{
  margin-left: -60%;
}

#slide5:checked ~ .s1{
  margin-left: -80%;
}

#slide6:checked ~ .s1{
  margin-left: -100%;
}

.footer{
  width:100%;
  height:30vh;
  margin: auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(52, 209, 248);
}

.redes{
  width: 30%;
  height: 10vh;
  margin-top: 4vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  
}

.redesres{
  width: 100%;
  height:9vh;
}

.footerlinks{
  width: 30%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  

}

.footerlinks a{
  text-decoration: none;
  color: #000000;
  
}

.footerlinks a:hover{
  color: #fff;
}

.infofooter{
  width: 100%;
  
  height:15vh;
  background-color: #141414;
  color: #fff;
}

.infofooter h3{
  padding-top: 3vh ;
}







